$yellow: #FFDD00;
$dolly: #FFF68D;
$hitPink: #F9AB7F;
$flory: #F59087;
$mauvelous: #F388AF;
$chantilly:#F9C1D4;
$jordyBlue: #96D1F2;
$blueBell: #9C8FC4;
$sinbad: #99D6CE;
$deco: #B7DB9B;
$flamingo: #F26322;
$red: #EE3124;
$hollywood: #EC008C;
$persian: #F173AC;
$bush: #62489D;
$turquoise: #15BEF0;
$persianGreen: #00B098;
$eucalyptus: #2CB34A;
$funGreen: #006B35;
$hacienda: #947B21;
$hawaiian: #914115;
$venetian: #79041B;
$siren: #870051;
$rouge: #A83C70;
$scarlet: #381460;
$scarletGum: #005D7D;
$blueStone: #00685F;